<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dkservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dkservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dkservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dkservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DKPRODUCTS" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;Application Name=EntityFramework" Name="Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DB.OAuth.Service.DataBase.Northwind, DB.OAuth.Service" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DKCON" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;Application Name=EntityFramework" Name="Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DB.OAuth.Service.Infrastructure.ApplicationDbContext, DB.OAuth.Service" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DKCON-Web.config Connection String">
      <ParameterValue>Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DKPRODUCTS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:manishramanan.database.windows.net,1433;Initial Catalog=HLF_ERP;Persist Security Info=True;User ID=manishramanan15;Password=P@ssw0rdmanish;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>